.app-content{
  text-align: center;
  border: 2px solid black;
 margin: 84px 550px 60px 550px;
 padding: 10px;
 background-color:lightslategray;
 border-radius: 7px;
}
.paginationBttns {
  width: 95%;
  height: 40px;
  list-style: none;
  justify-content: center;
   display: flex; 
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: blue;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: red;
  background-color: white;
}